{% extends 'base.html' %}

{% block title %}

Game Shop

{% endblock title %}

{% block content %}
<div class="nav">
    <h1> Game Shop</h1>
    <div class = "login-logout-reg-nav">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Выйти из аккаунта </a>
        {% else %}
        <a href="{% url "login" %}">
            Войти на сайт</a>
            {% endif %}
    </div>
</div>
{% for game in game_list %}
  
 <div class="game">
     <h2 ><a href="{{game.get_absolute_url}}">{{game.title}}</a></h2>
     <img src="{{game.image.url}}" > 
     <p class="game-date">Игра добавлена пользавателем{{game.owener}}{{game.created}}</p>
     <p class="game-date">Дата последнего обновления записи:{{game.updated}}</p>
     <h3>Оптсание игры</h3><p>{{game.description}}</p>
     
 </div>
 {% endfor %}

{% endblock content %}
